
.principal{
  border-radius: 10px 10px 10px 10px;
  width: 25%;
  height: 400px;
  background-color: #e3e3ff;
  margin-left: 73%;
  /*margin-top: 10%;*/
  bottom: 43px;
  position: absolute;
}

.encabezado{
  border-radius: 10px 10px 10px 10px;
  width: 25vw;
  height: 30px;
  background-color: #e74c3c;
}
#titulo{
  color: #e3e3ff;
  /*text-align: center;*/
}

.chat-de{
  width: 100px;
  margin-left: 10px;
  height: 20px;
  margin-top: 5px;
  /*opcional */
  border-radius: 10px 10px 10px 10px;

}
.cuadro-mensaje-mio{
  width: 250px;
  height: 100px;
  margin-top: 15px;
  margin-left: 70px;
  /*esto es aparte*/
  margin-bottom: 9px;
  background-color: #e74c3c;
  color: #fff;
}
.mensaje{
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 25vw;
  /*margin-top: 100%;*/
  background-color: #e74c3c;
 }
.mensajes{
  height: 320px;
}

.cuadro-mensaje{
  width: 250px;
  height: 100px;
  margin-top: 15px;
  margin-left: 15px;
}
 .icono{
   cursor: pointer;
   margin-top: 15px;
   color: #fff;
   margin-left: 10px;
 }
 .txtbox{
   border-radius: 10px 10px 10px 10px;
   border-color: white;
   height: 25px;
   width: 20vw;
   margin-top: 10px;
   margin-left: 7px;
 }
 #abrirchat{
   border-radius: 10px 10px 10px 10px;
   background-color: #e74c3c;
   margin-left: 73%;
 }
.abrir-chat{
  bottom: 0px;
  position: absolute;
  margin-bottom: 10px;
  right: 0;
  margin-right: 25px;
}
/*esta es la practica de tareas*/

.col-8{
  background-color: #ecf0f1;
  width: 400px;
}


.at{
  margin-top:120px;
  color: #bdc3c7;
}
/*esta es mi parte*/
.col-4{
  background-color: #2c3e50;
}
.btnagregar{
  margin-top:30px;
  width: 230px;
  margin-left:50px;
}
.textbox{
  margin-top: 60px;
}
.division{
  margin-top:50px;
  width:1100px;
  height: 500px;
  margin-left:110px;
}
.cuadroPrincipal{
  margin-top: 100px;
  width: 400px;
  height: 370px;
  margin-left: 130px;
  background-color: #2c3e50;
}
.tareanueva{
  margin-top: 20px;
  background-color: white;
  margin-left: 20px;
  height: 40px
}
.pencil{
  right: 0;
  margin-top: 20px;
}
.pencil:hover{
  color: #1abc9c;
  margin-top: 11px;
}
.trash{
  right: 0;
  /*position: absolute;*/
  margin-top: 20px;
}
.trash:hover{
  color: #e74c3c;

}
.iconTrash{
  margin-top:11px;
}

.iconPencil{
  margin-top:11px;
}
.contenedor{
  width: 400px;
  height: 70px;
  background-color: #2c3e50;
  margin-left: 115px;
  margin-top: 20px;
  position: absolute;
}
.listbox{
  margin-left: 20px;
  margin-top: 15px;
}
 .boton{
   top: 0px;
   position: absolute;
   margin-top: 11px;
   margin-left: 257px;
 }
